@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
  color: #e5e5e5;
}
body{
  background-color: #252525;
}

.calculator{
  margin: 100px auto;
  width: 400px;
  border: 2px solid #464444;
  padding: 10px;
}

.calculator .display{
  text-align: right;
  background-color: #1b1b1b;
  padding-top: 5px;
  padding-right: 10px;
}

.calculator .display input[type=text]{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;

  background: #1b1b1b;
  color: white;

  border: none;
  outline: none;

  width: 350px;

  text-align: right;
}

#backValue{
  font-size: 20px;
  color: gray;
}

#mainValue{
  margin-bottom: 20px;
}

.calculator .keypad{
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    text-align: center;
}

.calculator .keypad button{
  margin: 1px;
  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  
  font-size: 30px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;

  background-color: #1b1b1b;

  border: none;
  outline: none;

  transition: all 0.1s;
}

.calculator .keypad button:hover{
  background-color: #0f0f0f;
}

.numbers, #decimal{
  background-color: #080808 !important;
}

.numbers:hover, #decimal:hover{
  background-color: #020202 !important;
}

#equal-sign{
  background-color: #585656 !important;
}

#equal-sign:hover{
  background-color: #464444 !important;
}

#zero, #clear{
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 200px;
}